---
layout: base.njk
---
<article class="post">
  <h1>{{ title }}</h1>
  {% if date %}<p class="post-date">{{ date | readableDate }}</p>{% endif %}
  <div class="post-content">
    {{ content | safe }}
  </div>
  <p class="back-link"><a href="/">&larr; Back to all essays</a></p>

  <div class="comments">
    <script src="https://giscus.app/client.js"
      data-repo="Elca10/thought_essays"
      data-repo-id="R_kgDOS5E3Jw"
      data-category="General"
      data-category-id="DIC_kwDOS5E3J84C_DCk"
      data-mapping="pathname"
      data-strict="1"
      data-reactions-enabled="1"
      data-emit-metadata="0"
      data-input-position="bottom"
      data-theme="dark"
      data-lang="en"
      crossorigin="anonymous"
      async>
    </script>
  </div>
</article>
